<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SearchURL</key>
	<string>https://api.github.com/search/users?q=%@</string>
	<key>UserDetailsURL</key>
	<string>https://api.github.com/users/%@</string>
	<key>ProjectsURL</key>
	<string>https://api.github.com/users/%@/projects</string>
	<key>Cred</key>
	<string>aW9zcGFydGhpOmFoZnI1NDMy</string>
</dict>
</plist>
